/*QuickReset*/
*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font: 16px/1.2 sans-serif;
}

#app {
    touch-action: none;

    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    color: hsla(0, 0%, 100%, 0.85);

    background-color: #170d24;
    background-image: radial-gradient(
            ellipse at 10% 90%,
            #3c2d83 0%,
            transparent 55%
        ),
        radial-gradient(ellipse at 90% 90%, #8f2746 0%, transparent 55%),
        radial-gradient(ellipse at 90% 10%, #395aac 0%, transparent 55%),
        radial-gradient(ellipse at 10% 10%, #35244f 0%, transparent 55%);

    &-left {
        position: relative;
        flex: 1;
    }

    &-right {
        position: relative;
        flex: 1;
    }

    &-menu {
        pointer-events: none;
        position: absolute;
        padding: 20px;
        visibility: hidden;

        &.is-active {
            visibility: visible;
        }
    }
}

.player {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    font-size: 3em;
    pointer-events: none;
    background-image: url("player.png");
    background-position: 50%;
    background-size: cover;
    width: 50px;
    height: 50px;
}

.missile {
    position: absolute;
    width: 4px;
    height: 20px;
    background: red;
}

.Gamepad-controller.is-active {
    box-shadow: 0 0 50px currentColor;
}
